@model TrashCollector.Models.Customer
@{
    ViewBag.Title = "CustomerDetails";
}

<h2>CustomerDetails</h2>

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>


<h2>ConfirmStatusUpdate</h2>

<h3>Did you pickup the trash? For realz, yo?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

    </dl>

    <div id="map" style="height:400px;width:100%;"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var wisconsin = { lat: 24.891752 , lng: -98.4375};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 4, center:wisconsin });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: wisconsin, map: map });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV3XpLRFCP8odCTEN7VtRj4BYvsOJKILY&callback=initMap">
    </script>
   

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="CustomerDetails" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

